body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  align-content: space-between;
  flex-direction: column;
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Align items in a row */
}

nav ul li {
    margin-right: 20px; /* Add space between items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove space after the last item */
}
.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  color: red;
  font-size: 200px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#status {
  margin-top: 20px;
  font-size: 18px;
}
